.product-details {
    width: 300px;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .product-details-title {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .product-details-name {
    margin-bottom: 5px;
  }
  
  .product-details-price {
    font-weight: bold;
  }
  
  .product-details-description {
    margin-top: 10px;
  }
  